body  { margin: 0; padding: 0; cursor: default; font-size: 0.75em; }
body, td, div, span, input, button  { font-family: 'Lucida Grande',Geneva,Tahoma,Helvetica,Arial,sans-serif; }

sup  { vertical-align: top; }     /* YUI resets this */
sub  { vertical-align: bottom; }  /* YUI resets this */

input[type='text']      { border: 1px solid #888888; padding: 2px; background-color: #ffffff; color: #000083; font-weight: bold; }
input[type='password']  { border: 1px solid #888888; padding: 2px; background-color: #ffffff; color: ; }
input[type='button']    { border: 1px solid #888888; padding: 1px 2px 1px 2px; background-color: #dddddd; font-size: 0.9em; }

textarea  { border: 1px solid #888888; padding: 2px; background-color: #ffffff; }

input    { margin-top: 1px; margin-bottom: 1px; }
input.l  { width: 300px; }
input.m  { width: 120px; }
input.s  { width: 60px; }

fieldset  { padding: 10px 10px 10px 10px; border: 1px solid #bbbbbb; }
legend    { padding-left: 2px; padding-right: 2px; font-size: 0.90em; font-weight: bold; }

div  { text-align: left; }

div.btn-bar                                 { padding: 4px; background-color: #f8f8f8; border: 1px solid #dddddd; vertical-align: middle; }
div.btn-bar .yui-button                     { background: #eeeeee; }
div.btn-bar .yui-button-hover               { background: #fafafa; border-top: 1px solid #777777; border-bottom: 1px solid #777777; }
div.btn-bar .yui-button-hover .first-child  { border-left: 1px solid #777777; border-right: 1px solid #777777; }
div.btn-bar .yui-button-checked             { background: transparent url('../script/yui/assets/skins/sam/sprite.png') repeat-x 0 -1400px scroll; }

span.note  { font-size: 0.80em; color: #888888; }

td.form-l  { padding-right: 10px; }
td.form-r  { padding: 4px; border: 1px solid #dddddd; border-left: 2px solid #dddddd; background-color: #fafafa; }

td.constr-r                      { padding: 2px 0px 2px 0px; }
span.constr-lst                  { padding: 0px 0px 0px 4px; }
span.constr-lst-none span        { padding: 0px 6px 0px 6px; margin-right: 2px; border: 1px solid #A4CFA6; background-color: #E6F7E6; color: #428A45; }
span.constr-lst-some span        { padding: 0px 6px 0px 6px; margin-right: 2px; border: 1px solid #D9BAE3; background-color: #F4D6FD; color: #64167D; }
span.constr-lst-some span.var    { padding: 0px 6px 0px 6px; margin-right: 0px; border: 1px solid #D9BAE3; background-color: #F4D6FD; color: #64167D; border-right: 0; }
span.constr-lst-some span.var-x  { padding: 0px 4px 0px 4px; margin-right: 2px; border: 1px solid #D9BAE3; background-color: #DCADE9; color: #ffffff; border-left: 0; }

div.constr-panel-lst  { height: 400px; overflow: auto; }

div.sel    { margin-bottom: 2px; padding: 2px; cursor: default; }
div.sel-0  { border: 1px solid #eeeeee; background-color: #fcfcfc; color: #aaaaaa; }
div.sel-1  { border: 1px solid #84B0CB; background-color: #DBEBF4; color: #000000; }
div.sel-2  { border: 1px solid #bbbbbb; background-color: #fafafa; color: #444444; }

#cmd-res  { display: none; position: fixed; bottom: 60px; right: 0px; padding: 2px 20px 2px 20px; color: #ffffff; background-color: #FF9300; font-weight: bold; border: 1px solid #ad6500; border-right: 0px; cursor: default; opacity: 0.90; z-index: 200; }

#panel-txt-edit  { padding: 4px; margin-right: 8px; width: 100%; height: 500px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; border: 1px solid #555555; }
#panel-txt-view  { padding: 4px; margin-right: 8px; width: 100%; height: 500px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; border: 1px solid #555555; overflow: auto; }




/* APPLICATION */
.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd  { border: 0 none; }

.yui-skin-sam .yui-button-menu .bd  { padding: 0px; }  /* removing padding of the event drop-down menu; apparently inherited */

#app  { display: block; }

#app-mask  { display: block; position: fixed; left: 0px; top: 0px; right: 0px; bottom: 0px; background: transparent url('../gfx/bg.gif') repeat scroll 0%; opacity: 1.00; z-index: 1; }

#app-hd-outer  { position: fixed; top: 0px; left: 0px; right: 0px; border-bottom: 1px solid #cccccc; background-color: #cccccc; z-index: 50; }
#app-hd-inner  { padding: 4px; border-bottom: 1px solid #888888; }

#app-bd  { padding: 4px; border: 0 none; }

#app-ft-outer  { border-top: 1px solid #cccccc; }
#app-ft-inner  { padding: 4px; border-top: 1px solid #888888; background-color: #dddddd; font-size: 0.8em; }

#app-ft-inner .name  { color: #888888; }

#app-hd-inner .yui-button                     { background: #dddddd; }
#app-hd-inner .yui-button-hover               { background: #eeeeee; border-top: 1px solid #777777; border-bottom: 1px solid #777777; }
#app-hd-inner .yui-button-hover .first-child  { border-left: 1px solid #777777; border-right: 1px solid #777777; }
#app-hd-inner .yui-button-checked             { background: transparent url('../script/yui/assets/skins/sam/sprite.png') repeat-x 0 -1400px scroll; }

#panel-proc  { z-index: 240; }


/* TAB VIEW: Content */
.yui-skin-sam .yui-nav                  { font-size: 0.9em; }
.yui-skin-sam .yui-navset .yui-content  { background: #ffffff; padding: 10px; }



/* DATA TABLE: Misc. */
.yui-skin-sam tr.yui-dt-odd td { background-color: #eeeeee; }  /* odd rows bg color */
.yui-skin-sam div.yui-dt  { font-size: 0.9em; }  /* font */


/* DATA TABLE: Cell formatting */
.yui-skin-sam div.yui-dt-liner    { padding: 3px 6px 3px 6px; }

.yui-skin-sam div.yui-dt td.exc   { color: #ff0000; font-weight: bold; }  /* excluded */
.yui-skin-sam div.yui-dt td.name  { font-weight: bold; }  /* name */



/* DATA TABLE: Row colors */
.yui-skin-sam tr.yui-dt-odd,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc  { background-color: #f7f7f7; }

.yui-skin-sam tr.yui-dt-even td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-even td.yui-dt-desc  { background-color: #ffffff; }

.yui-skin-sam tr.yui-dt-selected td,
.yui-skin-sam tr.yui-dt-selected td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-selected td.yui-dt-desc  { background-color: #2069E9; color: #ffffff; }



/* BUTTONS: Making buttons nicely left-aligned with other controls and vertically shorter */
.yui-skin-sam .yui-button              { margin-left: 1px; }
.yui-skin-sam .yui-button button       { padding-top: 0px; padding-bottom: 0px; }
.yui-skin-sam .yui-module .yui-button  { margin: auto 0.1em; }



/* MISC. */

.yui-skin-sam .yui-navset .yui-nav li          a        { background: #eeeeee; color: #444444; }
.yui-skin-sam .yui-navset .yui-nav li          a:hover  { background: #fafafa; color: #000000; }
.yui-skin-sam .yui-navset .yui-nav li.selected a        { background: transparent url('../script/yui/assets/skins/sam/sprite.png') repeat-x 0 -1400px scroll; color: #ffffff; }
