#curr-ds  { font-weight: bold; cursor: pointer; }

#prep-scr-txt  { width: 100%; height: 500px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; }

#stat-r-int-out                           { padding: 0px; border: 1px solid #aaaaaa; height: 500px; margin-bottom: 2px; overflow: auto; }
#stat-r-int-out pre.cmd                   { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; padding: 4px 4px 2px 4px; color: #0000ff; }
#stat-r-int-out pre.res                   { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; padding: 2px 4px 4px 4px; border-bottom: 1px solid #eeeeee; }
#stat-r-int-out pre.info                  { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; padding: 4px 4px 2px 4px; color: #db0004; border-bottom: 1px solid #eeeeee; }
#stat-r-int-out pre span.load  { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; padding: 0px 8px 0px 8px; border: 1px solid #d5c99f; background-color: #f1eddf; }
#stat-r-int-in                            { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; width: 100%; font-weight: normal; padding: 2px; border: 1px solid #aaaaaa; }
#stat-r-int-btn-submit                    { font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; background-color: #dddddd; }

#stat-r-scr-in  { padding: 2px; border: 1px solid #aaaaaa; height: 500px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; width: 100%; font-weight: normal; }

#panel-ds-merge-ds-lst-div         { padding: 4px; border: 1px solid #bbbbbb; background-color: #e3e3e3; max-height: 350px; overflow: auto; }
#panel-ds-merge-ds-lst-tbl         {}
#panel-ds-merge-ds-lst-tbl select  { margin-left: 12px; }
#panel-ds-merge-size               { font-weight: bold; }

#panel-var-type-txt-curr-type             { font-weight: bold; }
#panel-var-type-txt-curr-name             { font-weight: bold; }
#panel-var-type-lst-new-type .yui-button  { margin-left: 1px; }  /* left-align with other controls */

#panel-var-trans-lst-type .yui-button  { margin-left: 1px; }  /* left-align with other controls */

#sbar-curr-ds  { cursor: pointer; }


/* DATA SET DATA TABLE: Change row selection color */
/*
.yui-skin-sam #panel-ds-dt tr.yui-dt-selected td,
.yui-skin-sam #panel-ds-dt tr.yui-dt-selected td.yui-dt-asc,
.yui-skin-sam #panel-ds-dt tr.yui-dt-selected td.yui-dt-desc {
  background-color: #FF9300; color: #ffffff;
}
*/
