body { margin: 0px; cursor: default; font-size: 0.9em; }

th,td  { padding: 3px 4px 1px 4px; border-right: 1px solid #ccc; border-bottom: 1px solid #eee; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Menlo,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; font-size: 0.75em; font-weight: normal; }
th     { font-weight: bold; border-right: 1px solid #888; border-bottom: 2px solid #000; background-color: #9edfff; color: #000; }

tr:hover  { background-color: #0092db; color: #fff; }
