textarea.constr-var  { margin-top: 8px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; font-size: 10px; }

#file-dl  { display: none; width: 0px; height: 0px; }

#curr-exp  { font-weight: bold; cursor: pointer; }

#ds-stim-file-dt  { margin-left: 2px; margin-top: 10px; }

#panel-txt-in-txt  { padding: 4px; width: 100%; height: 500px; font-family: Courier,monospace; border: 1px solid #555555; }

#panel-stim-file-load-txt  { width: 100%; height: 500; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; border: 1px solid #555555; }

#panel-var-roi-mutate input[type='text']                { margin-left: 3px; }

#panel-evt td                      { text-align: center; }
#panel-evt input[type='text']      { width: 60px; }

#panel-cal-map         { margin-left: 10px; border:1px solid #000000; background-color: #ffffff; }
#panel-cal-map canvas  {}

#ds-imp-btn-start button { font-weight: bold; }

#an-aggr-btn-calc button { font-weight: bold; }
#an-scr-btn-run button   { font-weight: bold; }
#an-scr-txt              { width: 100%; height: 500px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; }

#res-hist-lst           { margin-top: 8px; }
#res-hist-lst div.item  { padding: 2px; border: 1px solid #cccccc; background-color: #eeeeee; margin-bottom: 10px; }
#res-hist-lst span.cmd  { margin-left: 4px; }
#res-hist-lst div.txt   { margin-top: 2px; font-family: 'Liberation Mono','DejaVu Sans Mono',Consolas,Monaco,'Vera Sans Mono','Lucida Console','Courier New',monospace; padding: 4px; background-color: #ffffff; border: 1px solid #aaaaaa; font-size: 11px; white-space: pre; max-height: 200px; overflow: auto; }
#res-hist-lst input[type='button']  { padding: 0px 2px 0px 2px; border: 1px solid #999999; background-color: #aaaaaa; color: #ffffff; font-size: 11px; margin-right: 2px; }

#notif       { position: fixed; top: 42px; right: 4px; }
#notif span  { display: none; padding: 3px 10px 3px 10px; background-color: #E13636; border: 1px solid #AA1D1D; color: #ffffff; font-weight: bold; font-size: 0.80em; cursor: pointer; }

#sbar-curr-exp  { cursor: pointer; }


/* EXPERIMENT DATA TABLE: Change row selection color */
/*
.yui-skin-sam #panel-exp-dt tr.yui-dt-selected td,
.yui-skin-sam #panel-exp-dt tr.yui-dt-selected td.yui-dt-asc,
.yui-skin-sam #panel-exp-dt tr.yui-dt-selected td.yui-dt-desc {
  background-color: #FF9300; color: #ffffff;
}
*/
