#panel-login_mask  { background: transparent url('../gfx/bg.gif') repeat scroll 0%; opacity: 1.00; }

#panel-profile table     {}
#panel-profile td        { text-align: left; }
#panel-profile span.val  { font-weight: bold; }

#app-lst                       { margin-top: 60px; margin-left: 120px; text-align: left;}
#app-lst input[type="button"]  { margin-bottom: 4px; width: 120px; height: 40px; font-weight: bold; }
#app-lst span.info             { margin-left: 10px; color: #888888; }
#app-lst span.info a           { margin-left: 6px; color: #AF79FF; }

#panel-login  { z-index: 230; }

#app-ft-inner #inf  { font-weight: bold; cursor: pointer; }
