body, input  { margin: 0px; background: #ffffff; font-family: Tahoma, sans-serif; font-size: 11px; }

input[type=text]                 { border: 1px solid #777777; padding: 1px 1px 2px 1px; background-color: #fcfcfc; font-weight: bold; }
select                           { border: 1px solid #777777; padding: 0px; background-color: #fcfcfc; font-weight: bold; font-size: 11px; }
input[type=button].update        { padding: 3px 0px 2px 0px; border: 1px solid #777777; border-right: 0px; background-color: #dddddd; width: 20px; font-weight: bold; font-size: 8px; }
input[type=button].update:hover  { background-color: #eeeeee; }
input[type=button].norm          { padding: 2px 4px 2px 4px; border: 1px solid #777777; margin-top: 2px; background-color: #dddddd; font-weight: bold; font-size: 10px; }
input[type=button].norm:hover    { background-color: #eeeeee; }
input[type=button].act           { padding: 4px 10px 4px 10px; border: 1px solid #444444; background-color: #8CB2D4; font-weight: bold; color: #ffffff; margin-bottom: 4px; }
input[type=button].act:hover     { background-color: #2F83CE; }
input[type=button].act-dis       { background-color: #F6EE9D; color: #999999; border: 1px solid #666666; }
input[type=button].short         { width: 14px; }
input[type=button].long          { width: 100%; }
input.small                      { width: 32px; }

#tbar        { position: fixed; top: 0px; right: 0px; bottom: 0px; padding: 2px 6px 2px 6px; border-left: 1px solid #888888; background: #cccccc; color: #444444; font-weight: bold; cursor: default; z-index: 210; opacity: 0.00; }
#tbar:hover  { opacity: 0.95; }
#img         { position: absolute; top: 0px; left: 0px; border-bottom: 1px solid #888888; opacity: 0.15; z-index: 1; }
#coords      { position: fixed; top: 0px; left: 2px; font-weight: bold; color: #444444; font-size: 0.75em; z-index: 220; cursor: crosshair; }
#msg         { display: none; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: #ffffff; opacity: 0.75; z-index: 250; padding: 8px; text-align: left; color: #000000; font-size: 24px; font-weight: bold; }
#update      { display: none; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: #ffffff; opacity: 0.75; z-index: 250; padding: 8px; text-align: left; color: #000000; font-size: 24px; font-weight: bold; }
